ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/ContractsService/ContractsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSourceIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractBillingsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractBillingsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractBillingsGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractDetailsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractDetailsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractDetailsGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractRateChangeAsOfSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actUserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractRateChangeAsOfSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractRateChangeAsOfSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantitySettled" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amountSettled" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collateralCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valueDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settleDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="termDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poolCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divCallable" type="xs:boolean" />
        <xs:element minOccurs="0" name="incomeTracked" type="xs:boolean" />
        <xs:element minOccurs="0" name="marginCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="margin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityDepot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashDepot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otherBook" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fund" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tradeRefId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feeAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feeCurrencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feeType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnData" type="xs:boolean" />
        <xs:element minOccurs="0" name="isIncremental" type="xs:boolean" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractsGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsResearchGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stopDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsResearchGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractsResearchGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsSummaryByBillings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stopDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractsSummaryByBillingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractsSummaryByBillingsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usePoolCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByBookCash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByBookCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryByBookCashResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByBookProfitLossGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stopDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByBookProfitLossGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryByBookProfitLossGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummarybyCashGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settlementType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummarybyCashGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummarybyCashGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByCreditsDebits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByCreditsDebitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryByCreditsDebitsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByHypothicationGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByHypothicationGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryByHypothicationGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByMarketValueGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryByMarketValueGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryByMarketValueGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryBySecurityGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usePoolCode" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSummaryBySecurityGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSummaryBySecurityGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>