ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/LocalInventoryService/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wspen-sl08w7.penson.com/StockLoan.WebServices/InventoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wspen-sl08w7.penson.com/StockLoan.WebServices/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryService_GetSourceIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIP" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetSourceIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIPResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_InventoriesGet_InputMessage">
    <wsdl:part name="parameters" element="tns:InventoriesGet" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_InventoriesGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InventoriesGetResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_InventoryControlGet_InputMessage">
    <wsdl:part name="parameters" element="tns:InventoryControlGet" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_InventoryControlGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InventoryControlGetResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_InventorySet_InputMessage">
    <wsdl:part name="parameters" element="tns:InventorySet" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_InventorySet_OutputMessage">
    <wsdl:part name="parameters" element="tns:InventorySetResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryService">
    <wsdl:operation name="GetSourceIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetSourceIP" message="tns:IInventoryService_GetSourceIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetSourceIPResponse" message="tns:IInventoryService_GetSourceIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InventoriesGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/InventoriesGet" message="tns:IInventoryService_InventoriesGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/InventoriesGetResponse" message="tns:IInventoryService_InventoriesGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InventoryControlGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/InventoryControlGet" message="tns:IInventoryService_InventoryControlGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/InventoryControlGetResponse" message="tns:IInventoryService_InventoryControlGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InventorySet">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/InventorySet" message="tns:IInventoryService_InventorySet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/InventorySetResponse" message="tns:IInventoryService_InventorySet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryService" type="tns:IInventoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSourceIP">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetSourceIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InventoriesGet">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/InventoriesGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InventoryControlGet">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/InventoryControlGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InventorySet">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/InventorySet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_IInventoryService" binding="tns:BasicHttpBinding_IInventoryService">
      <soap:address location="http://wspen-sl08w7.penson.com/StockLoan.WebServices/InventoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>