ATLAS/LoanstarWorldWide/WorldWideClient/WorldWideClient/WorldWideClient/Service References/ServiceReturns/ReturnsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReturnsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59014/ReturnsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59014/ReturnsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReturnsService_GetSourceIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIP" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_GetSourceIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIPResponse" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnAsOfSet_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAsOfSet" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnAsOfSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAsOfSetResponse" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnSet_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSet" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnSetResponse" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnsGet" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnsSummaryByCashGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnsSummaryByCashGet" />
  </wsdl:message>
  <wsdl:message name="IReturnsService_ReturnsSummaryByCashGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnsSummaryByCashGetResponse" />
  </wsdl:message>
  <wsdl:portType name="IReturnsService">
    <wsdl:operation name="GetSourceIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IReturnsService/GetSourceIP" message="tns:IReturnsService_GetSourceIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReturnsService/GetSourceIPResponse" message="tns:IReturnsService_GetSourceIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnAsOfSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IReturnsService/ReturnAsOfSet" message="tns:IReturnsService_ReturnAsOfSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReturnsService/ReturnAsOfSetResponse" message="tns:IReturnsService_ReturnAsOfSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IReturnsService/ReturnSet" message="tns:IReturnsService_ReturnSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReturnsService/ReturnSetResponse" message="tns:IReturnsService_ReturnSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IReturnsService/ReturnsGet" message="tns:IReturnsService_ReturnsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReturnsService/ReturnsGetResponse" message="tns:IReturnsService_ReturnsGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnsSummaryByCashGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IReturnsService/ReturnsSummaryByCashGet" message="tns:IReturnsService_ReturnsSummaryByCashGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReturnsService/ReturnsSummaryByCashGetResponse" message="tns:IReturnsService_ReturnsSummaryByCashGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReturnsService" type="tns:IReturnsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSourceIP">
      <soap:operation soapAction="http://tempuri.org/IReturnsService/GetSourceIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAsOfSet">
      <soap:operation soapAction="http://tempuri.org/IReturnsService/ReturnAsOfSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnSet">
      <soap:operation soapAction="http://tempuri.org/IReturnsService/ReturnSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnsGet">
      <soap:operation soapAction="http://tempuri.org/IReturnsService/ReturnsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnsSummaryByCashGet">
      <soap:operation soapAction="http://tempuri.org/IReturnsService/ReturnsSummaryByCashGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReturnsService">
    <wsdl:port name="BasicHttpBinding_IReturnsService" binding="tns:BasicHttpBinding_IReturnsService">
      <soap:address location="http://localhost:59014/ReturnsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>