ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/LocalDealsService/DealsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSourceIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookContact" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="collateralCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valueDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="settleDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="termDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poolCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divCallable" type="xs:boolean" />
        <xs:element minOccurs="0" name="incomeTracked" type="xs:boolean" />
        <xs:element minOccurs="0" name="marginCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="margin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityDepot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashDepot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fund" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="actUserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="returnData" type="xs:boolean" />
        <xs:element minOccurs="0" name="feeAmount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feeCurrencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="feeType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealIdPrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="utcOffSet" type="xs:short" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealsGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealToContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DealToContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealToContractResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>