ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/RecallsService/RecallsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecallsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/RecallsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/RecallsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecallsService_GetSourceIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIP" />
  </wsdl:message>
  <wsdl:message name="IRecallsService_GetSourceIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIPResponse" />
  </wsdl:message>
  <wsdl:message name="IRecallsService_RecallSet_InputMessage">
    <wsdl:part name="parameters" element="tns:RecallSet" />
  </wsdl:message>
  <wsdl:message name="IRecallsService_RecallSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecallSetResponse" />
  </wsdl:message>
  <wsdl:message name="IRecallsService_RecallsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:RecallsGet" />
  </wsdl:message>
  <wsdl:message name="IRecallsService_RecallsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecallsGetResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecallsService">
    <wsdl:operation name="GetSourceIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecallsService/GetSourceIP" message="tns:IRecallsService_GetSourceIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecallsService/GetSourceIPResponse" message="tns:IRecallsService_GetSourceIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecallSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecallsService/RecallSet" message="tns:IRecallsService_RecallSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecallsService/RecallSetResponse" message="tns:IRecallsService_RecallSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecallsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecallsService/RecallsGet" message="tns:IRecallsService_RecallsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecallsService/RecallsGetResponse" message="tns:IRecallsService_RecallsGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecallsService" type="tns:IRecallsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSourceIP">
      <soap:operation soapAction="http://tempuri.org/IRecallsService/GetSourceIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecallSet">
      <soap:operation soapAction="http://tempuri.org/IRecallsService/RecallSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecallsGet">
      <soap:operation soapAction="http://tempuri.org/IRecallsService/RecallsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecallsService">
    <wsdl:port name="BasicHttpBinding_IRecallsService" binding="tns:BasicHttpBinding_IRecallsService">
      <soap:address location="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/RecallsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>