ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/RecallsService/RecallsService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSourceIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecallSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recallId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="book" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="openDateTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actUserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequenceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moveToDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyInDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecallSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecallSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecallsGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recallId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utcOffSet" type="xs:short" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecallsGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecallsGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>