ATLAS/LoanstarWorldWide/WorldWideAdminPortal/LoanStarWorldWideAdmin/LoanStarWorldWideAdmin/Service References/SVR_AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_GetSourceIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIP" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetSourceIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIPResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CountriesGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CountriesGet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CountriesGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountriesGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CountryCodeIsoConversionsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CountryCodeIsoConversionsGet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CountryCodeIsoConversionsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountryCodeIsoConversionsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CountrySet_InputMessage">
    <wsdl:part name="parameters" element="tns:CountrySet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CountrySet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountrySetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrenciesGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrenciesGet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrenciesGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrenciesGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrencyConversionsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrencyConversionsGet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrencyConversionsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrencyConversionsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrencyConversionSet_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrencyConversionSet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrencyConversionSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrencyConversionSetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrencySet_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrencySet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CurrencySet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrencySetResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeliveryTypesGet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryTypesGet" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeliveryTypesGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryTypesGetResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetSourceIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetSourceIP" message="tns:IAdminService_GetSourceIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetSourceIPResponse" message="tns:IAdminService_GetSourceIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountriesGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CountriesGet" message="tns:IAdminService_CountriesGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CountriesGetResponse" message="tns:IAdminService_CountriesGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountryCodeIsoConversionsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CountryCodeIsoConversionsGet" message="tns:IAdminService_CountryCodeIsoConversionsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CountryCodeIsoConversionsGetResponse" message="tns:IAdminService_CountryCodeIsoConversionsGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountrySet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CountrySet" message="tns:IAdminService_CountrySet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CountrySetResponse" message="tns:IAdminService_CountrySet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrenciesGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CurrenciesGet" message="tns:IAdminService_CurrenciesGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CurrenciesGetResponse" message="tns:IAdminService_CurrenciesGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrencyConversionsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CurrencyConversionsGet" message="tns:IAdminService_CurrencyConversionsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CurrencyConversionsGetResponse" message="tns:IAdminService_CurrencyConversionsGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrencyConversionSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CurrencyConversionSet" message="tns:IAdminService_CurrencyConversionSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CurrencyConversionSetResponse" message="tns:IAdminService_CurrencyConversionSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrencySet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CurrencySet" message="tns:IAdminService_CurrencySet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CurrencySetResponse" message="tns:IAdminService_CurrencySet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeliveryTypesGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeliveryTypesGet" message="tns:IAdminService_DeliveryTypesGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeliveryTypesGetResponse" message="tns:IAdminService_DeliveryTypesGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSourceIP">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetSourceIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountriesGet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CountriesGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountryCodeIsoConversionsGet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CountryCodeIsoConversionsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountrySet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CountrySet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrenciesGet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CurrenciesGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrencyConversionsGet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CurrencyConversionsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrencyConversionSet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CurrencyConversionSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrencySet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/CurrencySet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryTypesGet">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DeliveryTypesGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/AdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>