ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/DealsService/DealsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DealsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/DealsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/DealsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDealsService_GetSourceIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIP" />
  </wsdl:message>
  <wsdl:message name="IDealsService_GetSourceIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIPResponse" />
  </wsdl:message>
  <wsdl:message name="IDealsService_DealSet_InputMessage">
    <wsdl:part name="parameters" element="tns:DealSet" />
  </wsdl:message>
  <wsdl:message name="IDealsService_DealSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealSetResponse" />
  </wsdl:message>
  <wsdl:message name="IDealsService_DealsGet_InputMessage">
    <wsdl:part name="parameters" element="tns:DealsGet" />
  </wsdl:message>
  <wsdl:message name="IDealsService_DealsGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealsGetResponse" />
  </wsdl:message>
  <wsdl:message name="IDealsService_DealToContract_InputMessage">
    <wsdl:part name="parameters" element="tns:DealToContract" />
  </wsdl:message>
  <wsdl:message name="IDealsService_DealToContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:DealToContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IDealsService">
    <wsdl:operation name="GetSourceIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealsService/GetSourceIP" message="tns:IDealsService_GetSourceIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealsService/GetSourceIPResponse" message="tns:IDealsService_GetSourceIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DealSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealsService/DealSet" message="tns:IDealsService_DealSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealsService/DealSetResponse" message="tns:IDealsService_DealSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DealsGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealsService/DealsGet" message="tns:IDealsService_DealsGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealsService/DealsGetResponse" message="tns:IDealsService_DealsGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DealToContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDealsService/DealToContract" message="tns:IDealsService_DealToContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDealsService/DealToContractResponse" message="tns:IDealsService_DealToContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDealsService" type="tns:IDealsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSourceIP">
      <soap:operation soapAction="http://tempuri.org/IDealsService/GetSourceIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DealSet">
      <soap:operation soapAction="http://tempuri.org/IDealsService/DealSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DealsGet">
      <soap:operation soapAction="http://tempuri.org/IDealsService/DealsGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DealToContract">
      <soap:operation soapAction="http://tempuri.org/IDealsService/DealToContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DealsService">
    <wsdl:port name="BasicHttpBinding_IDealsService" binding="tns:BasicHttpBinding_IDealsService">
      <soap:address location="http://dalgsldev01.penson.com:8080/StockLoan.WebServices.DChen/DealsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>