ATLAS/LoanstarWorldWide/WorldWideClient/StockLoanPlatformTester/StockLoanPlatformTester/Service References/SecMasterService/SecMasterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSourceIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriceSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PriceSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricesGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bizDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricesGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PricesGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecIdAliasSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secIdTypeIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secIdAlias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecIdAliasSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecIdAliasSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecMasterGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lookUpCriteria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecMasterGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecMasterGetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecMasterSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currencyIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accruedInterest" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordDateCash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dividendRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secIdGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Isin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cusip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bookGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="functionPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecMasterSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecMasterSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>